PLANT_01_ATT=172.17.32.82
PLANT_01_MEAL_CARD=172.17.32.83
PLANT_02_ATT=172.17.32.82
PLANT_O2_MEAL_CARD=172.17.32.86
ATT_URL="http://localhost:8181/hrmmogllie/api/zkteco/att-new-record"
MEALCARD_URL="http://localhost:8181/hrmmogllie/api/zkteco/mealcard-new-record"